[submodule "darknet_ros"]
	path = darknet_ros
	url = https://github.com/leggedrobotics/darknet_ros.git
[submodule "detection_msgs"]
	path = detection_msgs
	url = https://github.com/mats-robotics/detection_msgs.git
[submodule "yolov5_ros"]
	path = yolov5_ros
	url = https://github.com/mats-robotics/yolov5_ros.git
