<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node name="UsbCam" pkg="usb_cam" type="usb_cam_node" respawn="false" output="screen">
        <param name="image_width" value="1280" type="int"/>
        <param name="image_height" value="720" type="int"/>
        <param name="video_device" value="/dev/video2" type="string"/>
        <remap from="/UsbCam/image_raw" to="/camera/color/image_raw"/>
    </node>

    <node name="image_proc" pkg="image_proc" type="image_proc" ns="camera/color"/>

    <include file="$(find apriltag_ros)/launch/continuous_detection.launch">
        <arg name="camera_name" value="/camera"/>
        <arg name="image_topic" value="/color/image_rect"/>
    </include>
</launch>