
<launch>
    <arg name="model" default="$(find rbx1_urdf)/urdf/rbx1.urdf"/>

    <include file="$(find rbx1_urdf)/launch/gazebo.launch">
        <arg name="model" value="$(arg model)" />
    </include>

	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
		<param name="port" value="9090"/>
	</include>
    
    <rosparam command="load"
        file="$(find rbx1_control)/config/states.yaml"
        ns="rbx1_joint_state_controller" />
    <rosparam command="load"
        file="$(find rbx1_control)/config/joints.yaml"
        ns="rbx1_joint_controller" />
    <rosparam command="load"
        file="$(find rbx1_control)/config/gripper.yaml"
        ns="rbx1_gripper_controller" />

  <node name="rbx1_controller_spawner" pkg="controller_manager" type="spawner"
    args="rbx1_joint_state_controller
          rbx1_joint_controller
          rbx1_gripper_controller
          --shutdown-timeout 3"/>
</launch>